@model Garage_2._0.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow border-0 bg-dark text-white">
            <div class="card-body p-4">
                <form asp-action="Create">
                    <partial name="_VehicleFormView" />
                    </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
