@model Garage_2._0.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}

<h2 class="mb-4">Edit Vehicle</h2>

<hr />
<div class="row card shadow-sm">
    <div class="col-md-4 card-body">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input type="text" class="form-control-plaintext" value="@ViewBag.ArrivalTime" readonly />
            </div>
            <input type="hidden" asp-for="ParkingSpot" />
            <partial name="_VehicleFormView" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
